extends layout

block content
    h2.naslov Eventi

    if ourEvents
        table.bordered
            tr
                th Vlasnikovo korisnicko ime
                th Ime vlasnika
                th Prezime vlasnika
                th Naziv
                th Opis
                th Datum
                th Tip
                th Opcija

            each e in ourEvents
                tr
                    
                    td #{e.owner_username}
                    td #{e.owner_name}
                    td #{e.owner_surname}
                    td #{e.name}
                    td #{e.description}
                    td #{e.date}
                    td #{e.type}
                    td
                        .col.m6
                            a.waves-effect.waves-light.btn.col.m5(href="/showeventgifts/"+e.id) Prikazi poklone
               
    
    if ourEvents.length==0
        h6.naslov.center-align 
            i Trenutno nema evenata na kojima su vasi artikli trazeni.
                        
